site_name: Claire Russell
site_url: https://clairelouiser.github.io

theme:
  name: material
  palette:
    - scheme: default      # light mode
      primary: green
      accent: teal
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate        # dark mode
      primary: green
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - mkdocs-jupyter

markdown_extensions:
  - attr_list
  - md_in_html

extra_css:
  - assets/extra.css

nav:
  - Home: index.md
  - Projects:
      - Overview: projects/index.md
      - Network Analysis:
          - Overview: projects/networks/index.md
          - Notebook: projects/networks/analysis.ipynb
